.content {
  text-align: center;
  margin: 2% auto;
  padding: 0.5%;
  font-size: x-large;
  font-family: Poppins-Bold;
  color: #c00000;
}
@media (max-width: 768px) {
  .content {
    font-size: large;
  }
}