@font-face {
  font-family: Poppins-Medium;
  src: url(fonts/MontserratPoppins/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(fonts/MontserratPoppins/Montserrat/static/Montserrat-Bold.ttf);
}

*{
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: Poppins-Medium;
  color: rgba(38, 38, 62, 0.915);
}
body {
  background-color: rgba(0, 0, 0, 0.716);
}