@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: Poppins-Medium;
  src: url(fonts/MontserratPoppins/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(fonts/MontserratPoppins/Montserrat/static/Montserrat-Bold.ttf);
}

*{
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: Poppins-Medium;
  color: rgba(38, 38, 62, 0.915);
}
body {
  background-color: rgba(0, 0, 0, 0.716);
}