.todo-head {
  margin: 0.5rem;
  padding: 0.3rem;
}
.todo-head h3 {
  font-size: 25px;

}
.todo-box {
  max-width: 95%;
  width: 60%;
  height: 50%;
  margin: 2% auto;
  padding: 1%;
  background-color: rgb(203, 203, 203);
}

@media (max-width: 768px) {
  .todo-box{
    width: 100%;
  }
  .todo-box .todo-head h3 {
    font-size: large;
  }
}